<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        
        <nav>
          {% for nav in site.navigation %}
            <p><a href="{{ nav.url }}">{{ nav.title }}</a></p>
          {% endfor %}
        </nav>
      </header>

      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>